### Dementia Prediction

Using MRI data from patients w/ and w/o Alzheimier's, develop model that can predict if a patient is demented

Based on: https://www.kaggle.com/ruslankl/dementia-prediction-w-tree-based-models

In [17]:
import os
import sys

# Set project path
project_name = 'Python_Notebooks_For_Machine_Learning'
path = os.getcwd()
project_path = path[0: path.index(project_name) + len(project_name)]

# Import dex.py library
sys.path.insert(0, project_path + os.sep + 'common')
import dex

In [20]:
os.sep

'\\'

In [19]:
import pandas as pd
import numpy as np
from functools import reduce
import seaborn as sns


# Import data to dataframe
cs_df = pd.read_csv('Projects/DementiaPrediction/data/oasis_cross-sectional.csv', index_col='ID')
long_df = pd.read_csv('Projects/DementiaPrediction/data/oasis_longitudinal.csv', index_col=['Subject ID', 'MRI ID'])
set_columns_to_category_dtype(cs_df)
set_columns_to_category_dtype(long_df)

FileNotFoundError: File b'Projects/DementiaPrediction/data/oasis_cross-sectional.csv' does not exist

In [302]:
cs_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>M/F</th>
      <th>Hand</th>
      <th>Age</th>
      <th>Educ</th>
      <th>SES</th>
      <th>MMSE</th>
      <th>CDR</th>
      <th>eTIV</th>
      <th>nWBV</th>
      <th>ASF</th>
      <th>Delay</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>OAS1_0001_MR1</th>
      <td>F</td>
      <td>R</td>
      <td>74</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>29.0</td>
      <td>0.0</td>
      <td>1344</td>
      <td>0.743</td>
      <td>1.306</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>OAS1_0002_MR1</th>
      <td>F</td>
      <td>R</td>
      <td>55</td>
      <td>4.0</td>
      <td>1.0</td>
      <td>29.0</td>
      <td>0.0</td>
      <td>1147</td>
      <td>0.810</td>
      <td>1.531</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>OAS1_0003_MR1</th>
      <td>F</td>
      <td>R</td>
      <td>73</td>
      <td>4.0</td>
      <td>3.0</td>
      <td>27.0</td>
      <td>0.5</td>
      <td>1454</td>
      <td>0.708</td>
      <td>1.207</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>OAS1_0004_MR1</th>
      <td>M</td>
      <td>R</td>
      <td>28</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1588</td>
      <td>0.803</td>
      <td>1.105</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>OAS1_0005_MR1</th>
      <td>M</td>
      <td>R</td>
      <td>18</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1737</td>
      <td>0.848</td>
      <td>1.010</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [303]:
long_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Group</th>
      <th>Visit</th>
      <th>MR Delay</th>
      <th>M/F</th>
      <th>Hand</th>
      <th>Age</th>
      <th>EDUC</th>
      <th>SES</th>
      <th>MMSE</th>
      <th>CDR</th>
      <th>eTIV</th>
      <th>nWBV</th>
      <th>ASF</th>
    </tr>
    <tr>
      <th>Subject ID</th>
      <th>MRI ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">OAS2_0001</th>
      <th>OAS2_0001_MR1</th>
      <td>Nondemented</td>
      <td>1</td>
      <td>0</td>
      <td>M</td>
      <td>R</td>
      <td>87</td>
      <td>14</td>
      <td>2.0</td>
      <td>27.0</td>
      <td>0.0</td>
      <td>1987</td>
      <td>0.696</td>
      <td>0.883</td>
    </tr>
    <tr>
      <th>OAS2_0001_MR2</th>
      <td>Nondemented</td>
      <td>2</td>
      <td>457</td>
      <td>M</td>
      <td>R</td>
      <td>88</td>
      <td>14</td>
      <td>2.0</td>
      <td>30.0</td>
      <td>0.0</td>
      <td>2004</td>
      <td>0.681</td>
      <td>0.876</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">OAS2_0002</th>
      <th>OAS2_0002_MR1</th>
      <td>Demented</td>
      <td>1</td>
      <td>0</td>
      <td>M</td>
      <td>R</td>
      <td>75</td>
      <td>12</td>
      <td>NaN</td>
      <td>23.0</td>
      <td>0.5</td>
      <td>1678</td>
      <td>0.736</td>
      <td>1.046</td>
    </tr>
    <tr>
      <th>OAS2_0002_MR2</th>
      <td>Demented</td>
      <td>2</td>
      <td>560</td>
      <td>M</td>
      <td>R</td>
      <td>76</td>
      <td>12</td>
      <td>NaN</td>
      <td>28.0</td>
      <td>0.5</td>
      <td>1738</td>
      <td>0.713</td>
      <td>1.010</td>
    </tr>
    <tr>
      <th>OAS2_0002_MR3</th>
      <td>Demented</td>
      <td>3</td>
      <td>1895</td>
      <td>M</td>
      <td>R</td>
      <td>80</td>
      <td>12</td>
      <td>NaN</td>
      <td>22.0</td>
      <td>0.5</td>
      <td>1698</td>
      <td>0.701</td>
      <td>1.034</td>
    </tr>
  </tbody>
</table>
</div>

In [195]:
cs_df.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Age</th>
      <th>Educ</th>
      <th>SES</th>
      <th>MMSE</th>
      <th>CDR</th>
      <th>eTIV</th>
      <th>nWBV</th>
      <th>ASF</th>
      <th>Delay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>436.000000</td>
      <td>235.000000</td>
      <td>216.000000</td>
      <td>235.00000</td>
      <td>235.000000</td>
      <td>436.000000</td>
      <td>436.000000</td>
      <td>436.000000</td>
      <td>20.00000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>51.357798</td>
      <td>3.178723</td>
      <td>2.490741</td>
      <td>27.06383</td>
      <td>0.285106</td>
      <td>1481.919725</td>
      <td>0.791670</td>
      <td>1.198894</td>
      <td>20.55000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>25.269862</td>
      <td>1.311510</td>
      <td>1.120593</td>
      <td>3.69687</td>
      <td>0.383405</td>
      <td>158.740866</td>
      <td>0.059937</td>
      <td>0.128682</td>
      <td>23.86249</td>
    </tr>
    <tr>
      <th>min</th>
      <td>18.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>14.00000</td>
      <td>0.000000</td>
      <td>1123.000000</td>
      <td>0.644000</td>
      <td>0.881000</td>
      <td>1.00000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>23.000000</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>26.00000</td>
      <td>0.000000</td>
      <td>1367.750000</td>
      <td>0.742750</td>
      <td>1.111750</td>
      <td>2.75000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>54.000000</td>
      <td>3.000000</td>
      <td>2.000000</td>
      <td>29.00000</td>
      <td>0.000000</td>
      <td>1475.500000</td>
      <td>0.809000</td>
      <td>1.190000</td>
      <td>11.00000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>74.000000</td>
      <td>4.000000</td>
      <td>3.000000</td>
      <td>30.00000</td>
      <td>0.500000</td>
      <td>1579.250000</td>
      <td>0.842000</td>
      <td>1.284250</td>
      <td>30.75000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>96.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>30.00000</td>
      <td>2.000000</td>
      <td>1992.000000</td>
      <td>0.893000</td>
      <td>1.563000</td>
      <td>89.00000</td>
    </tr>
  </tbody>
</table>
</div>

In [196]:
long_df.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Visit</th>
      <th>MR Delay</th>
      <th>Age</th>
      <th>EDUC</th>
      <th>SES</th>
      <th>MMSE</th>
      <th>CDR</th>
      <th>eTIV</th>
      <th>nWBV</th>
      <th>ASF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>373.000000</td>
      <td>373.000000</td>
      <td>373.000000</td>
      <td>373.000000</td>
      <td>354.000000</td>
      <td>371.000000</td>
      <td>373.000000</td>
      <td>373.000000</td>
      <td>373.000000</td>
      <td>373.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.882038</td>
      <td>595.104558</td>
      <td>77.013405</td>
      <td>14.597855</td>
      <td>2.460452</td>
      <td>27.342318</td>
      <td>0.290885</td>
      <td>1488.128686</td>
      <td>0.729568</td>
      <td>1.195461</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.922843</td>
      <td>635.485118</td>
      <td>7.640957</td>
      <td>2.876339</td>
      <td>1.134005</td>
      <td>3.683244</td>
      <td>0.374557</td>
      <td>176.139286</td>
      <td>0.037135</td>
      <td>0.138092</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>60.000000</td>
      <td>6.000000</td>
      <td>1.000000</td>
      <td>4.000000</td>
      <td>0.000000</td>
      <td>1106.000000</td>
      <td>0.644000</td>
      <td>0.876000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>71.000000</td>
      <td>12.000000</td>
      <td>2.000000</td>
      <td>27.000000</td>
      <td>0.000000</td>
      <td>1357.000000</td>
      <td>0.700000</td>
      <td>1.099000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2.000000</td>
      <td>552.000000</td>
      <td>77.000000</td>
      <td>15.000000</td>
      <td>2.000000</td>
      <td>29.000000</td>
      <td>0.000000</td>
      <td>1470.000000</td>
      <td>0.729000</td>
      <td>1.194000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2.000000</td>
      <td>873.000000</td>
      <td>82.000000</td>
      <td>16.000000</td>
      <td>3.000000</td>
      <td>30.000000</td>
      <td>0.500000</td>
      <td>1597.000000</td>
      <td>0.756000</td>
      <td>1.293000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>5.000000</td>
      <td>2639.000000</td>
      <td>98.000000</td>
      <td>23.000000</td>
      <td>5.000000</td>
      <td>30.000000</td>
      <td>2.000000</td>
      <td>2004.000000</td>
      <td>0.837000</td>
      <td>1.587000</td>
    </tr>
  </tbody>
</table>
</div>

In [199]:
cs_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>M/F</th>
      <th>Hand</th>
      <th>Age</th>
      <th>Educ</th>
      <th>SES</th>
      <th>MMSE</th>
      <th>CDR</th>
      <th>eTIV</th>
      <th>nWBV</th>
      <th>ASF</th>
      <th>Delay</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>OAS1_0001_MR1</th>
      <td>F</td>
      <td>R</td>
      <td>74</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>29.0</td>
      <td>0.0</td>
      <td>1344</td>
      <td>0.743</td>
      <td>1.306</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>OAS1_0002_MR1</th>
      <td>F</td>
      <td>R</td>
      <td>55</td>
      <td>4.0</td>
      <td>1.0</td>
      <td>29.0</td>
      <td>0.0</td>
      <td>1147</td>
      <td>0.810</td>
      <td>1.531</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>OAS1_0003_MR1</th>
      <td>F</td>
      <td>R</td>
      <td>73</td>
      <td>4.0</td>
      <td>3.0</td>
      <td>27.0</td>
      <td>0.5</td>
      <td>1454</td>
      <td>0.708</td>
      <td>1.207</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>OAS1_0004_MR1</th>
      <td>M</td>
      <td>R</td>
      <td>28</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1588</td>
      <td>0.803</td>
      <td>1.105</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>OAS1_0005_MR1</th>
      <td>M</td>
      <td>R</td>
      <td>18</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1737</td>
      <td>0.848</td>
      <td>1.010</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [305]:
cs_continuous, cs_categorical, cs_error = get_data_quality_report(cs_df)
cs_continuous

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Age</th>
      <th>Educ</th>
      <th>SES</th>
      <th>MMSE</th>
      <th>CDR</th>
      <th>eTIV</th>
      <th>nWBV</th>
      <th>ASF</th>
      <th>Delay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>436</td>
      <td>436</td>
      <td>436</td>
      <td>436</td>
      <td>436</td>
      <td>436</td>
      <td>436</td>
      <td>436</td>
      <td>436</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>51.3578</td>
      <td>3.17872</td>
      <td>2.49074</td>
      <td>27.0638</td>
      <td>0.285106</td>
      <td>1481.92</td>
      <td>0.79167</td>
      <td>1.19889</td>
      <td>20.55</td>
    </tr>
    <tr>
      <th>std</th>
      <td>25.2699</td>
      <td>1.31151</td>
      <td>1.12059</td>
      <td>3.69687</td>
      <td>0.383405</td>
      <td>158.741</td>
      <td>0.059937</td>
      <td>0.128682</td>
      <td>23.8625</td>
    </tr>
    <tr>
      <th>min</th>
      <td>18</td>
      <td>1</td>
      <td>1</td>
      <td>14</td>
      <td>0</td>
      <td>1123</td>
      <td>0.644</td>
      <td>0.881</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>23</td>
      <td>2</td>
      <td>2</td>
      <td>26</td>
      <td>0</td>
      <td>1367.75</td>
      <td>0.74275</td>
      <td>1.11175</td>
      <td>2.75</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>54</td>
      <td>3</td>
      <td>2</td>
      <td>29</td>
      <td>0</td>
      <td>1475.5</td>
      <td>0.809</td>
      <td>1.19</td>
      <td>11</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>74</td>
      <td>4</td>
      <td>3</td>
      <td>30</td>
      <td>0.5</td>
      <td>1579.25</td>
      <td>0.842</td>
      <td>1.28425</td>
      <td>30.75</td>
    </tr>
    <tr>
      <th>max</th>
      <td>96</td>
      <td>5</td>
      <td>5</td>
      <td>30</td>
      <td>2</td>
      <td>1992</td>
      <td>0.893</td>
      <td>1.563</td>
      <td>89</td>
    </tr>
    <tr>
      <th>nulls</th>
      <td>0</td>
      <td>201</td>
      <td>220</td>
      <td>201</td>
      <td>201</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>416</td>
    </tr>
    <tr>
      <th>nulls pct</th>
      <td>0.00</td>
      <td>0.46</td>
      <td>0.50</td>
      <td>0.46</td>
      <td>0.46</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th>cardinality</th>
      <td>73</td>
      <td>5</td>
      <td>5</td>
      <td>17</td>
      <td>4</td>
      <td>312</td>
      <td>182</td>
      <td>282</td>
      <td>14</td>
    </tr>
  </tbody>
</table>
</div>

In [308]:
long_continuous, long_categorical, long_error = get_data_quality_report(long_df)
long_continuous

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Visit</th>
      <th>MR Delay</th>
      <th>Age</th>
      <th>EDUC</th>
      <th>SES</th>
      <th>MMSE</th>
      <th>CDR</th>
      <th>eTIV</th>
      <th>nWBV</th>
      <th>ASF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>373</td>
      <td>373</td>
      <td>373</td>
      <td>373</td>
      <td>373</td>
      <td>373</td>
      <td>373</td>
      <td>373</td>
      <td>373</td>
      <td>373</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.88204</td>
      <td>595.105</td>
      <td>77.0134</td>
      <td>14.5979</td>
      <td>2.46045</td>
      <td>27.3423</td>
      <td>0.290885</td>
      <td>1488.13</td>
      <td>0.729568</td>
      <td>1.19546</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.922843</td>
      <td>635.485</td>
      <td>7.64096</td>
      <td>2.87634</td>
      <td>1.134</td>
      <td>3.68324</td>
      <td>0.374557</td>
      <td>176.139</td>
      <td>0.037135</td>
      <td>0.138092</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1</td>
      <td>0</td>
      <td>60</td>
      <td>6</td>
      <td>1</td>
      <td>4</td>
      <td>0</td>
      <td>1106</td>
      <td>0.644</td>
      <td>0.876</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1</td>
      <td>0</td>
      <td>71</td>
      <td>12</td>
      <td>2</td>
      <td>27</td>
      <td>0</td>
      <td>1357</td>
      <td>0.7</td>
      <td>1.099</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2</td>
      <td>552</td>
      <td>77</td>
      <td>15</td>
      <td>2</td>
      <td>29</td>
      <td>0</td>
      <td>1470</td>
      <td>0.729</td>
      <td>1.194</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2</td>
      <td>873</td>
      <td>82</td>
      <td>16</td>
      <td>3</td>
      <td>30</td>
      <td>0.5</td>
      <td>1597</td>
      <td>0.756</td>
      <td>1.293</td>
    </tr>
    <tr>
      <th>max</th>
      <td>5</td>
      <td>2639</td>
      <td>98</td>
      <td>23</td>
      <td>5</td>
      <td>30</td>
      <td>2</td>
      <td>2004</td>
      <td>0.837</td>
      <td>1.587</td>
    </tr>
    <tr>
      <th>nulls</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>19</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>nulls pct</th>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.05</td>
      <td>0.01</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>cardinality</th>
      <td>5</td>
      <td>201</td>
      <td>39</td>
      <td>12</td>
      <td>5</td>
      <td>18</td>
      <td>4</td>
      <td>286</td>
      <td>136</td>
      <td>265</td>
    </tr>
  </tbody>
</table>
</div>