In [ ]:
'''
Exercise in Collaborative Filtering using data from MovieLens + IMDB/RottenTomatoes

Process:
    1. Import data 
    2. Clean data
    3. Define necessary functions
        - Get 


'''

In [9]:
import pandas as pd

def file_to_df(path, usecols, delimiter=','):
    with open(path, errors='replace') as file:
        data = file.readlines()
        
    data = [line.split('\t') for line in data]
    return data



movies_path = 'data/movielens_2k/movies.dat'
df_movies = file_to_df(movies_path, delimiter='\t', usecols=['id','title','imdbID','rtID','rtAllCriticsRating','rtAllCriticsNumReviews','rtAllCriticsScore','rtTopCriticsRating','rtTopCriticsNumReviews','rtTopCriticsNumFresh','rtTopCriticsNumRotten','rtTopCriticsScore','rtAudienceRating','rtAudienceNumRatings','rtAudienceScore'])
#movie_actors_path = 'data/movielens_2k/movie_actors.dat'
#movie_directors_path = 'data/movielens_2k/movie_directors.dat'
#movie_genres_path = 'data/movielens_2k/movie_genres.dat'
#user_rated_movies_path = 'data/movielens_2k/user_ratedmovies.dat'
#
#df_movies = pd.read_csv(movies_path, delimiter='\t', usecols=['id','title','imdbID','rtID','rtAllCriticsRating','rtAllCriticsNumReviews','rtAllCriticsScore','rtTopCriticsRating','rtTopCriticsNumReviews','rtTopCriticsNumFresh','rtTopCriticsNumRotten','rtTopCriticsScore','rtAudienceRating','rtAudienceNumRatings','rtAudienceScore'])
#df_movie_actors = pd.read_csv(movie_actors_path, delimiter='\t', usecols=['movieID','actorID','actorName','ranking'])
#df_movie_directors = pd.read_csv(movie_directors_path, delimiter='\t', usecols=['userID','movieID','rating'])
#df_movie_genres = pd.read_csv(movie_genres_path, delimiter='\t', usecols=['movieID','genre'])
#df_user_rated_movies = pd.read_csv(user_rated_movies_path, delimiter='\t', usecols=['movieID','directorID','directorName'])

In [11]:

df_movies = pd.DataFrame(df_movies)

In [21]:
# Set column names to first row
df_movies.columns = list(df_movies.iloc[0])

# Delete first row since they are column names and not values
df_movies

In [30]:
df_movies['id']

0           id
1            1
2            2
3            3
4            4
5            5
6            6
7            7
8            8
9            9
10          10
11          11
12          12
13          13
14          14
15          15
16          16
17          17
18          18
19          19
20          20
21          21
22          22
23          23
24          24
25          25
26          26
27          27
28          28
29          29
         ...
10168    64701
10169    64716
10170    64750
10171    64839
10172    64900
10173    64903
10174    64906
10175    64918
10176    64921
10177    64926
10178    64930
10179    64942
10180    64957
10181    64959
10182    64969
10183    64976
10184    64983
10185    64986
10186    64990
10187    64993
10188    64997
10189    64999
10190    65006
10191    65011
10192    65037
10193    65088
10194    65091
10195    65126
10196    65130
10197    65133
Name: id, Length: 10198, dtype: object